.navbar-item-container {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.nav-bar-container {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-bar-container {
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: space-between;
    box-shadow: 3px -2px 5px rgb(0 0 0 / 10%), 0 6px 5px rgb(0 0 0 / 5%);
    width: 100%;
  }
}
