.home-container {
  padding-top: 84px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
}
.loader {
  position: inherit;

  text-align: center;
}
.loader-icon {
  width: 200px;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .home-container {
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .loader {
    position: inherit;
  }
  .loader-icon {
    width: 150px;
    height: 150px;
  }
}
