.screen-container {
  padding-top: 84px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 100px;
}
.loader {
  position: inherit;

  text-align: center;
}
.loader-icon {
  width: 200px;
  height: 200px;
}

.home-content {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  grid-gap: 1em;
}

.screen-loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rotate {
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.category-screen {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .screen-container {
    padding-top: 65px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
  }
  .loader {
    position: inherit;
  }
  .loader-icon {
    width: 150px;
    height: 150px;
  }
}
